.card-container {
    height:auto;
    width: 31%;
    border: 2px solid gray;
    border-radius: 12px;
    background-color: #F4F6F8;
}

.card-title {
    border-bottom: 1.6px solid rgba(128, 128, 128, 0.805);
    color: #394041;
    font-weight: 600;
    padding: 12px;
}
.card-description {
   color: gray;
   padding: 12px;
}